# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# SQLite database
*.sqlite3
*.db

# Logs
*.log

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# PyCharm
*.iml
